#chat-screen {
    background-color: #abc1d1;
    height: 1000vh;
}

#chat-screen .alt-header {
    top: 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    display: flex;
    margin-top: 180px;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s linear;
}

.main-chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px 15px;
    border-radius: 20px;;
    margin-bottom: 30px;
}

.main-chat__message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.main-chat__message-row img {
    width: 60px;
    height: 60px;
    border-radius: 35%;
    margin-right: 15px;
}

.message__author,
.message__time
{
    opacity: 0.8;
    font-size: 15px;

}

.message__author {
    margin-bottom: 15px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 10px 12px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.main-chat__message-row--own {
    justify-content: flex-end;
}

.main-chat__message-row--own .message__bubble {
    border-radius: 10px;
    border-top-right-radius: 0px;
    background-color: #f3da25;
    margin-left: 5px;
}

.main-chat__message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 5px 25px;
    /* transition: all 0.3s ease-in-out; */
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    height: 30px;
    padding: 3px 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}


.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -15px;
    top: 5px;
}

.reply__column:last-child > i {
    right: 20px;
    top: 13px;
    opacity: 0.8;
}

.reply__column button {
    background-color: #fad910;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reply .reply__column:first-child,
.reply .fa-grin-squint,
.reply .reply__column__button {
    transition: all 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin-squint,
.reply:focus-within .reply__column__button
{
    opacity: 0;
}

.reply:focus-within input {
    width: 90vw;
    transform: translateX(-10%);
}

.reply:focus-within {
    /* transform: translateY(-80px); */
}